<launch>
  <node name="pendulum_node" pkg="double_pendulum" type="pendulum.py" output="screen"/>
  <node name="sensor_node" pkg="double_pendulum" type="sensor.py" output="screen"/>
  <node name="ekf_node" pkg="double_pendulum" type="ekf.py" output="screen"/>
  <node name="visualization_node" pkg="double_pendulum" type="visualization.py" output="screen"/>
  <node name="rqt_multiplot" pkg="rqt_multiplot" type="rqt_multiplot" respawn="false" output="screen">
    <param name="config_file" value="$(find double_pendulum)/config/rqt_multiplot.xml"/>
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find double_pendulum)/config/pendulum_frame.rviz"/>
</launch>
